<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Vehicle</title>
        <link rel="stylesheet" href="/styles.css">

        <style>
            body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box;}
            
            input[type=text], select, textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              resize: vertical;
            }
            
            button {
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            button:hover {
              background-color: #45a049;
            }
            
            .container {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }
            </style>

    </head>
    <body>
        <div class="container">
            <form action="/editVehicle<%=myvehicles[0].vehicle_id%>" method="POST">
                <fieldset style="width: 0px;">
                    <legend>Edit Your Vehicle:</legend>
                        <br>
                        <label for="vehicleName">Description:</label>
                        <br>
                        <input type="text" id="vehicleName" name="description" value="<%= myvehicles[0].description %>">
                        <br><br>
                        <input type="radio" id="sCar" name="type" value="C" <%= myvehicles[0].type == "C" ? "checked" : "" %>>
                                    <label for="sCar">Car</label><br>
                                    <input type="radio" id="sTruck" name="type" value="T" <%= myvehicles[0].type == "T" ? "checked" : "" %>>
                                    <label for="sTruck">Truck</label><br>
                                    <input type="radio" id="sBike" name="type" value="B"<%= myvehicles[0].type == "B" ? "checked" : "" %>>
                                    <label for="sBike">Bike</label><br>
                                    <input type="radio" id="sMotorcycle" name="type" value="M" <%= myvehicles[0].type == "M" ? "checked" : "" %>>
                                    <label for="sMotorcycle">Motorcycle</label>
                        <br><br>
                        <label for="sCarYear">Choose the Year:</label>
                        <br>
                        <input type="number" id="sCarYear" name="year" min="1950" value="<%= myvehicles[0].year %>">
                        <br><br>
                        <label for="iMiles">Enter Vehicle Mileage:</label>
                        <br>
                        <input type="number" id="iMiles" name="mileage" value="<%= myvehicles[0].mileage %>"<%= myvehicles[0].type == "B" ? "disabled" : "" %>>
                        <br><br>
                        <input type="checkbox" id="sUsing" name="still_using" <%= myvehicles[0].still_using == "Y" ? "checked" : "" %>>
                        <label for="sUsing">Check if Yes</label>
                        <br><br>
                        <button type="submit">Save Changes</button>
                </fieldset>
            </form>
        </div>
        <br><br>
        <div class="container">
            <form action="/displayVehicle" method="GET">
                <button type="submit">Cancel</button>
            </form>
        </div>
    </body>
</html>